.noir{
    color: black;
    font-size: var(--font-size_28);
    padding-top: 10vw;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.form label {
    text-align: left;
    width: 100%;
    font-weight: bold;
}

.pad {
    padding-top: 2vw;
}

input, 
select, 
textarea {
    width: 50vw;
    padding: 10px;
    border: 1px solid rgb(188, 187, 187);
    border-radius: 7px;
    font-size: var(--font-size_14);
}

.shadow_form {
    display: flex;
    align-items: center;  
    justify-content: center;
    height: 650px;
    width: 60%;    
    gap: 4vw;
    margin-left: 20vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 28px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button_form {
    background-color: var(--border_vert_button);
    color: var(--blanc);
    font-weight: bold;
    margin-top: 1vw;
}

.button_form:hover {
    background-color: var(--button_rouge);
}

/* Message erreur JavaScript */

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* MEDIA QUERIES */

@media (max-width:800px) {

    .shadow_form {
        box-shadow: none;
    }

}