@import url(header.css);
@import url(hero.css);
@import url(s1.css);
@import url(s2.css);
@import url(s3.css);
@import url(s4.css);
@import url(s5.css);
@import url(s6.css);
@import url(footer.css);
@import url(formulaire.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Inter", sans-serif;

    --header_vert: #057858; 
    --button_rouge: #db2627;
    --button_gris: #f3f4f6;
    --border_grise: #edfef6;
    --border_vert_button: #0cb981;
    --background_vert: #edfef6;
    --blanc: #fff;
    --footer: #414955;

    --font-size_60: 60px;
    --font-size_30: 30px; 
    --font-size_28: 28px;
    --font-size_25: 25px; 
    --font-size_22: 22px;  
    --font-size_21: 21px;
    --font-size_17: 17px;
    --font-size_18: 18px;
    --font-size_15: 15px;
    --font-size_14: 14px;
}

body {
    font-family: var(--font-family);
}

h1 {
    font-size: var(--font-size_60);
    font-weight: 800;
    color: var(--blanc);
}

h2,
h3,
h4,
h5,
h6{
    font-size: var(--font-size_30);
    font-weight: 800;
    text-align: center;
    padding: 5vw;
}

a {
    text-decoration: none;  
}

a:hover {  
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    border: none;
}