#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/img/hero.png);
    height: 556px;
    background-size: cover;
    background-position-x: center;
}

.titre_hero span {
    font-size: var(--font-size_22);
    font-weight: 500;
    color: var(--blanc);
}

