#s1 span {
    font-size: var(--font-size_25); 
    font-weight: 900; 
}

.conteneur_shadow {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    width: 980px;
    height: 383px;
    gap: 1.5vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 1.8vw;
/* margin: 0 auto : centre horizontalement */
    margin: 0 auto;  
}

.border_grey {
    width: 279px;
    height: 138px;
    text-align: center;
    line-height: 22px;
    padding-top: 1.8vw;
}

.border_grey {
    border: solid 2px rgba(228, 228, 230, 100);
}

.border_grey:hover {
    cursor: pointer;
    border: 2px solid var(--border_vert_button);
}

.border_grey:focus {
    border: 2px solid var(--border_vert_button);
    background-color: rgba(114, 149, 61, 0.266);
    cursor: pointer;
}

.button_conteneur {
    width:100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.button_size {
    width: 105px;
    height: 45px;
    font-weight: 600;
    font-size: var(--font-size_17);
    border-radius: 10px;
}

.button_size:hover {
    cursor: pointer;
    color: var(--blanc);
    background-color: var(--border_vert_button);
}

.button_size:focus {
    background-color: var(--border_vert_button);
    cursor: pointer;
}

.dimension_grand_button {
    width: 90%;
    color: var(--blanc);
    text-align: center;
    font-weight: 700;
}

.dimension_grand_button:focus {
    background-color: var(--border_vert_button);
    cursor: pointer;
}

