#s3 {
    padding-left: 10%;
    margin-bottom: 10vw;
}

.div_image_principal {
    position: relative; 
}

.div_image_principal img {
    width: 90%; 
    border-radius: 20px;
    margin-bottom: 10px;
}

.nom_gros {
    position: absolute;
    color: var(--blanc);
    font-size: var(--font-size_30);
    z-index: 10;
    bottom: 12vw;
    left: 3.2vw;
}

.description {
    position: absolute;
    color: var(--blanc);
    font-size: var(--font-size_18);
    letter-spacing: 2%;
    line-height: 30px;
    z-index: 10;
    bottom: 7vw;
    left: 3vw;
}

.date {
    position: absolute;
    font-size: var(--font-size_14);
    color: var(--blanc);
    z-index: 10;
    bottom: 5vw;
    left: 3vw;
}

/* Miniatures */

.img-miniatures {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-right: 8%;
}

.div_image_principal img:focus {
    border: 3px solid var(--border_vert_button);
    border-radius: 20px;
}

.nom {
    position: absolute; 
    font-size: var(--font-size_21);
    color: var(--blanc);
    font-weight: bold;
    z-index: 10;
    bottom: 4vw;
    padding-left: 10vw;
}

/* MEDIA QUERIES  */

@media (max-width: 800px) {

    #s3 {
        padding-left: 10%;
        margin-bottom: 10vw;
    }

    .div_image_principal {
        position: relative; 
    }

    .div_image_principal img:focus {
        width: 100%;
    }

    .nom_gros {
        position: absolute;
        color: var(--blanc);
        font-size: var(--font-size_30);
        z-index: 10;
        bottom: 12vw;
        left: 3.2vw;
    }

    .description {
        position: absolute;
        color: var(--blanc);
        font-size: var(--font-size_2);
        z-index: 10;
        bottom: 7vw;
        left: 3vw;
    }

    .date {
        position: absolute;
        font-size: var(--font-size_14);
        color: var(--blanc);
        z-index: 10;
        bottom: 5vw;
        left: 3vw;
    }

    .img-miniatures {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        margin-top: 20px;
    }

    .img-miniatures img {
        width: 100%;
        max-width: 100%;
    }
}
