#s4 {
    display: flex;
    flex-direction: column;
    background-color: var(--background_vert);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5vw;
}

.contenaire_questions {
    background-color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 961px;
    padding: 1vw;
    gap: 1vw;
    border-radius: 10px;
}

.quizz {
    width: 100%;
    font-size: var(--font-size_21);
    font-weight: 600;
    padding-left: 2vw;
}

.question-reponse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
}

.mauvaise_reponse, 
.bonne_reponse {
    cursor: pointer;
    font-size: var(--font-size_17);
    background-color: var(--button_gris);
    display: flex;
    align-items: center;
    width: 444px;
    height: 79px;
    padding: 2vw;
    border-radius: 9px;
}

.mauvaise_reponse.active {
    background-color: rgba(255, 0, 0, 0.2);
}

.bonne_reponse.active {
    background-color: rgba(0, 128, 0, 0.2);
}

.icone_faux,
.icone_vrai {
    display: none;
    max-width: 20px;
    max-height: 20px;
}

.hidden {
    display: none;
    align-items: center;
    width: 100%;
    height: 79px;
    font-size: var(--font-size_17);
    border-radius: 9px;
    padding: 2vw;
}

.hidden2 {
    display: block;
    font-size: var(--font-size_17);
}

#scoreSection {
    margin-top: 2vw;
    text-align: center;
}

#scoreMessage {
    font-size: var(--font-size_21);
}

#restartQuiz {
    margin-top: 1vw;
    padding: 0.5vw;
    background-color: var(--button_gris);
    cursor: pointer;
}


/* MEDIA QUERIES */

@media (max-width: 800px) {

    #s4 {
        gap: 2vw;
    }

    .quizz {
        font-weight: 700;
        font-size: var(--font-size_22);
    }

    .contenaire_questions {
        width: 90%;
        padding: 2vw;
    }

    .mauvaise_reponse,
    .bonne_reponse {
        width: 50%;
        font-size: var(--font-size_16);
    }
    
}
