#s5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background_vert);
    width: 100%;
    padding-bottom: 7vw;
}

#s5 img {
    max-width: 50px;
    max-height: 50px;
    padding-left: 2vw;
}

.vert{
    background-color: var(--background_vert);
    padding-right: 2vw;
}

.size_s5 {
    font-size: var(--font-size_21);
    font-weight: bold;
}

.size_text_s5{
    font-size: var(--font-size_17);
}

#s5 li {
    text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {

    #s5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5vw;
    }

    #s5 img {
        max-width: 80px;
        max-height: 80px;
}

    .size_s5 {
        font-size: var(--font-size_25); 
        font-weight: 800;
    }

    #s5 li {
       font-size: var(--font-size_17);
    }

    .padding {
        padding-bottom: 5vw;
    }
}

